{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<div class="auth-container">
    <h2>Login</h2>
    {% for message in messages %}
        <p class="message">{{ message }}</p>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        {{ form.username.label_tag }}<br>
        {{ form.username }}<br>
        {{ form.password.label_tag }}<br>
        {{ form.password }}<br>
        <button type="submit" class="auth-btn">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% endblock %}